VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_CONTACTS_SCOPE=https://www.googleapis.com/auth/contacts.readonly
VITE_GOOGLE_CALENDAR_SCOPE=https://www.googleapis.com/auth/calendar.readonly
VITE_APPLE_SERVICE_ID=
VITE_APPLE_REDIRECT_URI=
